#AdminName{
	text-align:center;
	 margin-left: 271px;
}
#admin{
	float:right;
	margin-top:-74px;
	margin-right:1px;
	color:purple;
	font-size:25px;
}
#logout{
	float:right;
	margin-right:20px;	
}
#logout a:hover{
	background-color:cadetblue!important;	
}
#logout a{
	/* color:purple; */
}
.active {
	background:palegreen !important;
	color:green !important;
}
#login form{
	background-color:#F7D9BB;
	padding:24px 0px;
	margin-left:419px;
	margin-right:479px;
	margin-top:90px;
	border-radius:8px;
}
#login label{
	float:left;
	width:121px;
	margin-top:20px;
	padding-left:105px;
}
#login input{
	margin-top:20px;
	margin-left:-22px;
}
#button {
 /*  color: #FFF; 
  font-weight: bold;
  /* border: 1px solid  IndianRed ; */
  /* background: DarkSlateGray; */ 
}
 
#button:hover {
 /*  color: #FFF;
  background: DarkSlateGray; */
}
.button{
	  /* color: #FFF;	 
	  font-weight: bold;
	  background: #900;	 */  
}
.button:hover{
	/* background: #900;
	color: #FFF; */
}
h1 {   
    font-size: 34px;
    margin-left: 68px;
    margin-top: 7px;
	padding:0px 15px 0px 0px; 
}
/* #width {
    color: brown;
    font-size: 23px;
    width: 210px;
} */
#Add {
    margin-left: 1111px;
}
#Add a {
    text-decoration: none;
}
#body{
	background-color:FloralWhite; 
}
#table table{
    margin-left:85px;
	 border-collapse: collapse;
	 background-color:#F7D9BB;
	 padding:1px 2px 3px 4px;
	 margin-right:75px;
}
#table table td{
	border:1px solid FloralWhite;
	padding:10px;
	
}
#table table th{
	border:1px solid FloralWhite;
	padding:10px;
    font-size: 23px;
    width: 210px;
	
}


h2 {
    color: #65233d;
    text-align: center;
}
#heading {
    margin-left: 295px;
    margin-top: 127px;
}
#logo1 {
    margin-left: 155px;
}
#logo2 {
    margin-top: -325px;
}
#menu1 {
    margin-left: 33px;
    margin-right: 20px;
    margin-top: -80px;
}
#adlogo{
	float:right;	
	margin-right:2px;
	color:purple;
	margin-top:-70px;
}
#menu {
    background: #f5deb3 none repeat scroll 0 0;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -149px;
    padding: 120px 0 0;
	
}
ul {
    background: cadetblue none repeat scroll 0 0;
    font-size: 20px;
    list-style-type: none;   
    overflow: hidden;   
	margin-top:33px;
}
footer {
    background: cadetblue none repeat scroll 0 0;
    font-size: 20px;
    list-style-type: none;
    margin: 204px 0 0 -8px;
    overflow: hidden;
    padding: 0;
	height:50px;
	margin-top:295px;
}
p{margin-left:20px;
}
  

li {
    float: left;
}
li a {
    color: brown;
    display: inline-block;
    /* padding: 14px 16px; */
	text-decoration:none;
	margin-right:40px;
}
li a:hover {
    background-color: #c7b097;
}
#menu2 {
    height: 50%;
    width: 100%;
}
#form h1{
	color:#65233d;
    margin-left:205px;
	font-size:27px;
}
#back{
margin-top:-18px;
}
#form{
	background-color:#F7D9BB;
	padding:1px 2px 3px 4px;
	margin-left:244px;
	margin-right:362px;
	margin-top:50px;
}
#form label {
    float: left;
    margin-top: 20px;
    margin-left:129px;
    width: 200px;
	font-size:19px;
}
#form input {
    margin-top: 20px;
	font-size:19px;
	
}
	}

#form textarea {
    margin-top: 20px;
	
}
form button {
    background-color: #BFD8D8;
    border-radius: 13px;
    height: 48px;
    margin-top: 33px;
    width: 76px;
}
body form {
    /* background: #f0f8ff none repeat scroll 0 0; */
	
}
#hed{
	color:#f5deb3 none repeat ;
	margin-top:5px;
}
#report{	
	text-align:center;
	color:blue;
	margin-right:565px;
	font-size:27px;
}
#result{
	background-color:skyblue;
	border-radius:5px;
}
#result h1{
	font-size:20px;
	text-align:center;
	padding-top:27px;
}
#result p,input{
	margin-left:140px;
}
