#width {
    width: 240px;
}
#Add {
    margin-left: 924px;
}
#table {
    margin-left: 90px;
   
	padding:20px 5px 2px 2px;
}
#body{
background:#E6E6FA;
}
h1{
text-align:center;
color:red;}
